@import 'tailwindcss/base';
@import 'tailwindcss/components';
/*@import './base.css';*/
@import 'tailwindcss/utilities';
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

body {
  font-family: "Poppins", 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  background: #f6f6f6;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}