.navbar-top {
  padding: 0 1rem 0 1rem;
}

.navbar-logo {
  display: inline-grid;
  gap: 8px;
  flex-direction: row;
  grid-template-columns: 1fr auto;
}

.dropdown-toggle::after {
  display: none !important;
}

ul {
  list-style-type: none;
}